<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777382167262-2clnpnd4ijkjp71gvmpp5u0rik446kn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777382167262-2clnpnd4ijkjp71gvmpp5u0rik446kn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>777382167262-akm5kepn8uhq60vfautku47472vphvc9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK1o4PAeInCotKhGH_qLI-6eShgjJK6Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>777382167262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.botcreator.app</string>
	<key>PROJECT_ID</key>
	<string>bot-creator-f884b</string>
	<key>STORAGE_BUCKET</key>
	<string>bot-creator-f884b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777382167262:ios:083d0f09a8b8ea9329f84f</string>
</dict>
</plist>