name: Deploy to Play Store

on:
  push:
    tags:
      - 'v*'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Cache NDK and CMake
        uses: actions/cache@v4
        with:
          path: |
            /usr/local/lib/android/sdk/ndk
            /usr/local/lib/android/sdk/cmake
          key: ${{ runner.os }}-android-ndk-cmake-${{ hashFiles('android/app/build.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-android-ndk-cmake-

      - name: Cache Flutter dependencies
        uses: actions/cache@v4
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-flutter-

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.41.2"
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Extract Version from Tag
        id: extract_version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          BUILD_NUMBER=${GITHUB_RUN_NUMBER}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "BUILD_NUMBER=$BUILD_NUMBER" >> $GITHUB_ENV

      - name: Update pubspec.yaml version
        run: |
          sed -i "s/^version: .*/version: $VERSION+$BUILD_NUMBER/g" pubspec.yaml

      - name: Decode Keystore

        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks

      - name: Create key.properties
        run: |
          cat <<EOF > android/key.properties
          storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword=${{ secrets.KEY_PASSWORD }}
          keyAlias=${{ secrets.KEY_ALIAS }}
          storeFile=upload-keystore.jks
          EOF

      - name: Build AAB
        run: flutter build appbundle --release

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_CREDENTIALS }}
          packageName: fr.botcreator.app
          releaseFiles: build/app/outputs/bundle/release/app-release.aab
          track: production
          status: completed
